<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 开启驼峰命名自动映射，即从经典数据库列名 A_COLUMN 映射到经典 Java 属性名 aColumn -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 懒加载 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--<setting name="logImpl" value="STDOUT_LOGGING"/>-->
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <!-- 批量别名控制 -->
    <typeAliases>
        <package name="com.czf.model"/>
    </typeAliases>

    <!-- pom导入pagehelper坐标，这里配置它-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!--调整分页参数合理化, 避免分页到一个不可能的页码 -->
            <property name="reasonable" value="true"/>
            <!--<props>
                 &lt;!&ndash;设置底层操作的数据库类型 Oracle,Mysql,MariaDB,SQLite,Hsqldb,PostgreSQL六种数据库&ndash;&gt;
                <prop key="helperDialect">mysql</prop>
            </props>-->
        </plugin>
    </plugins>

    <!-- 批量别名加载映射文件 -->
    <mappers>
        <!-- resources下的mapper -->
        <package name="mapper"/>
    </mappers>

</configuration>